@model IEnumerable<WhoWantsWhat.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>My Items</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var ItemId = item.ItemId;
            <tr>
                <td>
                    @Html.ActionLink(item.Name.ToString(), "Details", new { id = item.ItemId })
                </td>
                <td>
                    @if (item.Link != null)
                    {
                        <a target="_blank" href="@item.Link">Link</a>
                    }
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input disabled class="custom-control-input" type="checkbox" asp-for="@item.Purchased" />
                        <label class="custom-control-label" asp-for="@item.Purchased"></label>
                    </div>
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.ItemId">Delete Item</a>
                </td>
            </tr>
        }
    </tbody>
</table>
