@using Microsoft.AspNetCore.Identity

@model WhoWantsWhat.Models.WishList

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

@if (Model.UserId == UserManager.GetUserId(User))
{
    <form asp-action="CreateItem" asp-controller="Items">
        <input type="hidden" asp-for="WishListId" />
        <input class="btn btn-primary" type="submit" value="Add Item To Wish List" />
    </form>
}


<div>
    <hr />
    @if (Model.GroupWishLists.Count > 0)
    {
        <div>Shared With Groups:
            <ul>
                @foreach(var gwl in Model.GroupWishLists)
                {
                <li>@gwl.Group.Name</li>
                }
            </ul>
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div class="text-success mt-2 mb-2">    @TempData["SuccessMessage"] </div>
        </div>
    }

    @if (Model.WishListItems != null)
    {
        <table class="table table-hover">
            <tbody>
                @foreach (var wi in Model.WishListItems)
                {
                    var Item = wi.Item;
                    var ItemId = wi.Item.ItemId;
                    var WishListItemId = wi.WishListItemId;
                    var UserId = wi.WishList.UserId;
                    var textClass = "";
                    if (wi.Item.Purchased)
                    {
                        textClass = "text-success";
                    }
                <tr>
                    <td>
                        @Html.ActionLink(wi.Item.Name.ToString(), "Details", "Items", new { id = wi.ItemId, wishListItemId = wi.WishListItemId })
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input disabled class="custom-control-input" type="checkbox" asp-for="@wi.Item.Purchased" />
                            <label class="custom-control-label @textClass" asp-for="@wi.Item.Purchased"></label>
                        </div>
                    </td>
                    <td>
                        @if (!wi.Item.Purchased && Model.UserId != UserManager.GetUserId(User))
                        {
                            <form class="form-inline">
                                <input type="hidden" asp-for="@ItemId" />
                                <input type="hidden" asp-for="WishListId" />
                                <input class="btn btn-outline-primary" type="submit" value="I Purchased This Item" asp-action="MarkItemAsPurchased" asp-controller="Items" />
                            </form>
                            <form class="form-inline">
                                <input type="hidden" asp-for="@Item.ItemId" />
                                <input type="hidden" asp-for="@UserId" />
                                <input type="hidden" asp-for="WishListId" />
                                <input class="btn btn-outline-primary" type="submit" value="Add to Gift List" asp-action="AddItemToGiftList" asp-controller="Items" />
                            </form>
                        }
                    </td>
                    <td>
                        @if (Model.UserId == UserManager.GetUserId(User))
                        {
                            <form>
                                <input type="hidden" asp-for="@ItemId" />
                                <input class="btn btn-outline-primary" type="submit" value="Add to Another Wish List" asp-action="AddExistingItemToWishList" asp-controller="Items" />
                            </form>
                            <form>
                                <input type="hidden" asp-for="@Item.ItemId" />
                                <input type="hidden" asp-for="@WishListItemId" />
                                <input class="btn btn-outline-primary" type="submit" value="Remove from List" asp-action="RemoveItemFromList" asp-controller="Items" />
                            </form>
                        }

                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>
@if (Model.UserId == UserManager.GetUserId(User))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.WishListId">Edit</a> |
        <a asp-action="Index">Back to My Wish Lists</a>
    </div>
}
