@using Microsoft.AspNetCore.Identity

@model IEnumerable<WhoWantsWhat.Models.WishList>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

@if (Model.Count() > 0 && Model.ToList()[0].UserId != UserManager.GetUserId(User))
{
    <h1>@Model.ToList()[0].User.FirstName @Model.ToList()[0].User.LastName's Wish Lists</h1>
}
else
{
    <div class="form-inline mb-4 wish-list-index-header">
        <h1 class="col-lg-6">My Wish Lists</h1>
        <div class="col-lg-6">
            <a class="btn btn-primary" asp-action="Create">Create New Wish List</a>
            <a class="btn btn-primary" asp-action="Index" asp-controller="Items">View My Items</a>
        </div>
    </div>
}

@if (Model != null)
{
    <table class="table table-hover">
        <tbody>
            @foreach (var wl in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(wl.Name.ToString(), "Details", new { id = wl.WishListId })
                    </td>
                    @if (Model.ToList()[0].UserId == UserManager.GetUserId(User))
                    {
                        <td>
                            <a class="btn btn-outline-primary pt-2 pb-2 pr-3 pl-3 mb-2 mr-2" 
                               asp-action="ShareWishListView" asp-route-id="@wl.WishListId">Share</a>
                            <a class="btn btn-outline-primary pt-2 pb-2 pr-3 pl-3 mb-2" 
                               asp-action="Delete" asp-route-id="@wl.WishListId">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
