@model WhoWantsWhat.Models.GiftList

@{
    ViewData["Title"] = "Details";
}

<div class="form-inline">
    <h1 class="col-lg-6">@Model.Name</h1>
    <form class="col-lg-6 text-right" asp-action="CreateItem" asp-controller="Items">
        <input type="hidden" asp-for="GiftListId" />
        <input class="btn btn-primary" type="submit" value="Add Item To Gift List" />
    </form>
</div>

<div>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">For</th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ListTypeId)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DateNeeded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Budget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountSpent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Difference)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <td>
                    @if (Model.ReceiverId != null)
                    {
                        <span>@Model.Receiver.FirstName @Model.Receiver.LastName</span>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.ReceiverName)
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => model.ListType.Label)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DateNeeded)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Budget)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AmountSpent)
                </td>
                @{
                    var textColor = "";
                    if (Model.Difference < 0)
                    {
                        textColor = "text-danger";
                    }
                    <td class="@textColor">
                        @Html.DisplayFor(model => model.Difference)
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GiftListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <hr />
    @if (Model.GiftListItems != null)
    {
        <div class="wish-list-items-group">
            @foreach (var gi in Model.GiftListItems)
            {
                var Item = gi.Item;
                var ItemId = gi.Item.ItemId;
                var GiftListItemId = gi.GiftListItemId;
                var textClass = "";
                if (gi.Item.Purchased)
                {
                    textClass = "text-success";
                }

                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.ActionLink(gi.Item.Name.ToString(), "Details", "Items", new { id = gi.ItemId, giftListItemId = gi.GiftListItemId })
                        </h4>
                        <hr />
                        <div class="wish-list-item-card">
                            <p class="card-text mt-4 mb-4">@gi.Notes</p>
                            @if (gi.Item.Link != null)
                            {
                                <a target="_blank" href="@gi.Item.Link" class="card-link mb-2">Link to item</a>
                            }
                            <div class="wish-list-item-card-bottom">
                                <div class="custom-control custom-checkbox mt-4 mb-4">
                                    <input disabled class="custom-control-input" type="checkbox" asp-for="@gi.Item.Purchased" />
                                    <label class="custom-control-label @textClass" asp-for="@gi.Item.Purchased"></label>
                                </div>
                                @if (!gi.Item.Purchased)
                                {
                                    <form class="btn-width-100">
                                        <input type="hidden" asp-for="@ItemId" />
                                        <input type="hidden" asp-for="GiftListId" />
                                        <input class="btn btn-outline-primary btn-width-100 mr-3 pt-2 pb-2 pr-3 pl-3 mb-2" type="submit" value="I Purchased This Item" asp-action="MarkItemAsPurchased" asp-controller="Items" />
                                    </form>
                                }
                                <form class="btn-width-100">
                                    <input type="hidden" asp-for="@Item.ItemId" />
                                    <input type="hidden" asp-for="@GiftListItemId" />
                                    <input class="btn btn-outline-primary btn-width-100 pt-2 pb-2 pr-3 pl-3 mb-2" type="submit" value="Remove from List" asp-action="RemoveItemFromList" asp-controller="Items" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>



    }
</div>