@model WhoWantsWhat.Models.GiftList

@{
    ViewData["Title"] = "Details";
}

<div class="form-inline">
    <h1 class="col-lg-6">@Model.Name</h1>
    <form class="col-lg-6 text-right" asp-action="CreateItem" asp-controller="Items">
        <input type="hidden" asp-for="GiftListId" />
        <input class="btn btn-primary" type="submit" value="Add Item To Gift List" />
    </form>
</div>


<div>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">For</th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ListTypeId)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DateNeeded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Budget)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <th scope="col">For</th>

                <td>
                    @if (Model.ReceiverId != null)
                    {
                        <span>@Model.Receiver.FirstName @Model.Receiver.LastName</span>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.ReceiverName)
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => model.ListType.Label)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DateNeeded)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Budget)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GiftListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <hr />
    @if (Model.GiftListItems != null)
    {
        <table class="table table-hover">
            <tbody>
                @foreach (var gi in Model.GiftListItems)
                {
                    var Item = gi.Item;
                    var ItemId = gi.Item.ItemId;
                    var GiftListItemId = gi.GiftListItemId;
                    var textClass = "";
                    if (gi.Item.Purchased)
                    {
                        textClass = "text-success";
                    }
                    <tr>
                        <td>
                            @Html.ActionLink(gi.Item.Name.ToString(), "Details", "Items", new { id = gi.ItemId, giftListItemId = gi.GiftListItemId })
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input disabled class="custom-control-input" type="checkbox" asp-for="@gi.Item.Purchased" />
                                <label class="custom-control-label @textClass" asp-for="@gi.Item.Purchased"></label>
                            </div>
                        </td>
                        <td>
                            @if (!gi.Item.Purchased)
                            {
                                <form>
                                    <input type="hidden" asp-for="@ItemId" />
                                    <input type="hidden" asp-for="GiftListId" />
                                    <input class="btn btn-outline-primary" type="submit" value="I Purchased This Item" asp-action="MarkItemAsPurchased" asp-controller="Items" />
                                </form>
                            }
                        </td>
                        <td>
                            <form>
                                <input type="hidden" asp-for="@Item.ItemId" />
                                <input type="hidden" asp-for="@GiftListItemId" />
                                <input class="btn btn-outline-primary" type="submit" value="Remove from List" asp-action="RemoveItemFromList" asp-controller="Items" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>