@model WhoWantsWhat.Models.GiftList

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<form asp-action="CreateItem" asp-controller="Items">
    <input type="hidden" asp-for="GiftListId" />
    <input class="btn btn-primary" type="submit" value="Add Item To Gift List" />
</form>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd class="col-sm-10">
            @if (Model.ReceiverId != null)
            {
                <span>@Model.Receiver.FirstName @Model.Receiver.LastName</span>
            }
            else
            {
                @Html.DisplayFor(model => model.ReceiverName)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListType.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateNeeded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GiftListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <hr />
    @if (Model.GiftListItems != null)
    {
        <table class="table table-hover">
            <tbody>
                @foreach (var gi in Model.GiftListItems)
                {
                    var Item = gi.Item;
                    var GiftListItemId = gi.GiftListItemId;
                    <tr>
                        <td>
                            @Html.ActionLink(gi.Item.Name.ToString(), "Details", "Items", new { id = gi.ItemId, giftListItemId = gi.GiftListItemId })
                        </td>
                        <td>
                            <form>
                                <input type="hidden" asp-for="@Item.ItemId" />
                                <input type="hidden" asp-for="@GiftListItemId" />
                                <input class="btn btn-outline-primary" type="submit" value="Remove from List" asp-action="RemoveItemFromList" asp-controller="Items" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>